/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include "keys_de.h"
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/42.h"

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS_L LH2 LH1 LH0
#define THUMBS_R RH2 RH1 RH0

#define DEF 0
#define SYM 1
#define NAV 2
#define SYS 3

#define HRM_QUICK_TAP_MS 175
#define HRM_PRIOR_IDLE_MS 125
#define HRM_TAP_TERM_MS 250

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                           \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";                      \
               tapping-term-ms = <HRM_TAP_TERM_MS>; quick-tap-ms = <HRM_QUICK_TAP_MS>;   \
               require-prior-idle-ms = <HRM_PRIOR_IDLE_MS>; hold-trigger-on-release;     \
               hold-trigger-key-positions = <TRIGGER_POS>;)

// Left-hand HRMs
MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS_R)
MAKE_HRM(hmlcarect, &kp, &carect, KEYS_R THUMBS_R)
MAKE_HRM(hmlaae, &kp, &aae, KEYS_R THUMBS_R)
MAKE_HRM(hmlssz, &kp, &ssz, KEYS_R THUMBS_R)
MAKE_HRM(hmlcaplo, &kp, &caps_word, KEYS_R THUMBS_R)

// Right-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS_L)

// Sticky Shift
ZMK_HOLD_TAP(stish, bindings = <&mo>, <&sk>; flavor = "balanced";   \
             tapping-term-ms = <200>; quick-tap-ms = <175>;)

&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <175>;
};

&caps_word {
  continue-list = <DE_UNDERSCORE DE_MINUS BACKSPACE DELETE>;
};

/ {

  behaviors {
    // `´
    gracu: grave_acute {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DE_GRAVE>, <&kp DE_ACUTE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    slabs: slash_bslh {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DE_SLASH>, <&kp DE_BSLH>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    // ^§
    carect: caret_sect {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DE_CARET>, <&kp DE_SECT>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    pergre: percent_degree {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DE_PERCENT>, <&kp DE_DEGREE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    qmpip: qmark_pipe {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp DE_QMARK>, <&kp DE_PIPE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    uue: umlaut_ue {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp U>, <&kp DE_U_UMLAUT>;
        mods = <(MOD_LALT|MOD_RALT)>;
    };
    aae: umlaut_ae {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp A>, <&kp DE_A_UMLAUT>;
        mods = <(MOD_LALT|MOD_RALT)>;
    };
    ooe: umlaut_oe {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp O>, <&kp DE_O_UMLAUT>;
        mods = <(MOD_LALT|MOD_RALT)>;
    };
    ssz: sharp_s {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp S>, <&kp DE_SZ>;
        mods = <(MOD_LALT|MOD_RALT)>;
    };
  };

  macros {
    locscr: lock_screen {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings =
                <&macro_press &kp RCTRL &kp RCMD>,
                <&macro_tap &kp Q>,
                <&macro_release &kp RCTRL &kp RCMD>;
    };
  };

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      display-name = "Base";
// -----------------------------------------------------------------------------------------
// |      |  Q  |  W  |  E  |  R  |  T  |   |  Z  |  U   |  I  |  O  |  P  |      |
// |      |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  | ENT |      |
// |      |  Y  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  -  |      |
//                    | ESC | TAB |BSPC |   |SPACE| DEL  | Fn  |
                        bindings = <
   &none &kp Q           &kp W          &kp E        &kp R        &kp T              &kp DE_Z      &uue        &kp I        &ooe        &kp P          &none
   &none &hmlaae LCTRL 0 &hmlssz LALT 0 &hml LSHFT D &hml LCMD F  &kp G              &kp H         &hmr RCMD J &hmr RSHFT K &hmr RALT L &hmr RCTRL RET &none
   &none &kp DE_Y        &kp X          &kp C        &kp V        &kp B              &kp N         &kp M       &kp DE_COMMA &kp DE_DOT  &kp DE_MINUS   &none
                                        &kp ESC      &lt NAV BSPC &stish NAV LSHFT   &lt SYM SPACE &lt NAV DEL &kp TAB
                        >;
    };

    sym_layer {
      display-name = "Sym";
// -----------------------------------------------------------------------------------------
// |      |  !  |  "  |  {  |  }  |  `´ |   |  /\ |  7  |  8  |  9  |  *  |      |
// |      |  ^§ |  $  |  (  |  )  |  '  |   |  =  |  4  |  5  |  6  |  +  |      |
// |      |  %° |  &  |  [  |  ]  |  #  |   |  ?| |  1  |  2  |  3  |  0  |      |
//                    |  <  |  >  |     |   |     |     |     |
                        bindings = <
   &none &kp DE_EXCL        &kp DE_DQT          &kp DE_LBRC        &kp DE_RBRC       &gracu        &slabs       &kp DE_N7       &kp DE_N8        &kp DE_N9       &kp DE_STAR        &none
   &none &hmlcarect LCTRL 0 &hml LALT DE_DOLLAR &hml LSHFT DE_LPAR &hml LCMD DE_RPAR &kp DE_SQT    &kp DE_EQUAL &hmr RCMD DE_N4 &hmr RSHFT DE_N5 &hmr RALT DE_N6 &hmr RCTRL DE_PLUS &none
   &none &pergre            &kp DE_AMPS         &kp DE_LBKT        &kp DE_RBKT       &kp DE_HASH   &qmpip       &kp DE_N1       &kp DE_N2        &kp DE_N3       &kp DE_N0          &none
                                                &kp DE_LT          &kp DE_GT         &trans        &trans       &trans          &trans
                        >;
    };

    nav_layer {
      display-name = "Nav";
// -----------------------------------------------------------------------------------------
// |      |BRIUP| F1  | F2  | F3  | F10 |   |PgUp | Home|  ↑  | End |VOLUP|      |
// |      |CAPLO| F4  | F5  | F6  | F11 |   |PgDn |  ←  |  ↓  |  →  |VOLDO|      |
// |      |BRIDO| F7  | F8  | F9  | F12 |   |     |     |     |     | MUTE|      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &none &kp F15           &kp F1       &kp F2        &kp F3       &kp F10   &kp PG_UP &kp HOME       &kp UP          &kp END         &kp C_VOL_UP        &none
   &none &hmlcaplo LCTRL 0 &hml LALT F4 &hml LSHFT F5 &hml LCMD F6 &kp F11   &kp PG_DN &hmr RCMD LEFT &hmr RSHFT DOWN &hmr RALT RIGHT &hmr RCTRL C_VOL_DN &none
   &none &kp F14           &kp F7       &kp F8        &kp F9       &kp F12   &none     &none          &none           &none           &kp C_MUTE          &none
                                        &trans        &trans       &trans    &trans    &trans         &trans
                        >;
    };

    sys_layer {
      display-name = "Sys";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |STUDI|   |     |     |     |     |     |      |
// |      | BT0 | BT1 | BT2 |BTCLR|BCLRA|   |LOCKS|     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &none &none        &none        &none        &none      &none            &none   &none  &none &none &none &none
   &none &none        &none        &none        &none      &studio_unlock   &none   &none  &none &none &none &none
   &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR &bt BT_CLR_ALL   &locscr &none  &none &none &none &none
                                   &trans       &trans     &trans           &trans  &trans &trans
                        >;
    };

  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
    sys_layer {
      if-layers = <SYM NAV>;
      then-layer = <SYS>;
    };
  };
};
